<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/binance"><span class="glyphicon glyphicon-euro"></span> Binance Arbitrage</a>
      </li>
      <li>
        <a href="/dex"><span class="glyphicon glyphicon-screenshot"></span> DEX Argitrage</a>
      </li>
    </ul>
  </div>
</nav>
