<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<h1>Cryptcurrency Arbitrager Analytics</h1>
<div class="container">
<li> <a href="/binance"> Binance </a> </li>
<li> <a href="/dex"> Dex </a> </li>
</div>
</body>
</html>
